<h1>Welcome to the League</h1>

<h2>Tournaments</h2>

<% if @tournaments.present? -%>
	<% @tournaments.each do |tournament| -%>
		<p><%= tournament.name %></p>
	<% end -%>
<% else -%>
	<p><em>No upcoming tournaments.</em></p>
<% end -%>

<h2>Events</h2>

<% if @events.present? -%>
	<% @events.each do |event| -%>
		<p><%= event.name %></p>
	<% end -%>
<% else -%>
	<p><em>No upcoming events.</em></p>
<% end -%>