<html>
	<head>
		<title><%= @page_title.present? ? @page_title : 'League! It\'s ON!' %></title>
		<%= stylesheet_link_tag("flash") %>
		<%= stylesheet_link_tag("application") %>
	
		<%= javascript_include_tag :defaults %>
	</head>