body {
	font-family: helvetica, arial, sans-serif;
	background-color: #ace;
	margin: 0;
	padding: 0;
}

#content-session {
	text-align: right;
	background-color: #ddd;
	margin: 0;
	padding: 2px 10px;
}

#content-main {
	padding: 10px 20px;
}

.bb {
	background-color:#e2f6ff;
}

.kof12 {
	background-color:#b7e7fe;
}

.mvc2 {
	background-color:#8edbff;
}

.sc4 {
	background-color:#fff9e2;
}

.hdr {
	background-color:#fdefb7;
}

.sf4 {
	background-color:#fee78c;
}

.ssf4 {
	background-color:#ffffff;
}

.t6 {
	background-color:#ffdf5d;
}
