body {
	font-family: helvetica, arial, sans-serif;
	background-color: #ace;
	margin: 0;
	padding: 0;
}

#content-session {
	text-align: right;
	background-color: #ddd;
	margin: 0;
	padding: 2px 10px;
}

#content-main {
	padding: 10px 20px;
}