<h1>My Events</h1>

<% if @user_events.present? -%>
	<table>
		<tr>
			<th>Event Name</th>
			<th>Event Type</th>
			<th>Event Date</th>
		</tr>	
		<% @user_events.each do |event| -%>
			<tr>
				<td><%=h event.assembly.name %></td>
				<td><%=h event.assembly.event_type.name %></td>
				<td><%=h event_date(assembly) %></td>
			</tr>
		<% end -%>
<% else -%>
	<em>You have no upcoming events.</em>
<% end -%>