<h2>Menu</h2>

<ul>
	<li><%= link_to 'Manage Games', :controller => '/admin/games' %></li>
	<li><%= link_to 'Manage Platforms', :controller => '/admin/platforms' %></li>
	<li><%= link_to 'Manage Users', :controller => '/admin/users' %></li>
</ul>