<p>	
	<%= link_to 'All Members', :controller => '/member/users' %><br/>
	<%= link_to 'Member Mains', :controller => '/member/users', :action => :mains %><br/>
	<%= link_to 'Playstation Network Members', :controller => '/member/users', :action => :ps3_users %><br/>
	<%= link_to 'Xbox 360 Members', :controller => '/member/users', :action => :xbox360_users %><br/>
</p>