<p>	
	<%= link_to 'My Profile', :controller => '/member/user_profiles' %><br/>
	<%= link_to 'My Games', :controller => '/member/games' %><br/>
	<%= link_to 'My Mains', :controller => '/member/user_game_mains' %>
</p>